<ion-header>
  <ion-navbar>
    <ion-title>
      Device Keeper
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button color="dark" outline block (click)="addDevice()">Add Device</button>
    <button ion-button color="dark" outline block (click)="view()">View Devices</button>
    <ion-card *ngFor="let i of devices">

        <ion-card-content>
          <!-- Add card content here! -->
          Device Name: {{i.deviceName}}<br>
          Device Type: {{i.deviceType}}<br>
          Device Owner: {{i.deviceOwner}}
        </ion-card-content>
      
      </ion-card>
    <!--<button ion-button color="dark" outline block (click)="deleteDevice(device)">Delete Device</button>-->
</ion-content>

<!--<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let device of devices">
        <ion-item>
          <h3>{{device.devName}}</h3>
          <h3>{{device.devType}}</h3>
          <h3>{{device.devOwner}}</h3>
        </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>-->